# exclude everything
.idea/*
userfiles/*
vendor/*
public/node_modules/*
public/npm
public/npm.cmd
public/npx
public/npx.cmd
public/css/.sass-cache/*
temp/**
app/config/config.local.neon
app/config/config.custom.neon
public/admin/css/.sass-cache/*
*.min.js
public/css/*.css
public/admin/css/*.css
*.map
composer.lock
tests/acceptance.suite.yml

# except
!userfiles/.gitkeep
!temp/.gitkeep
!temp/log
!temp/log/.gitkeep
!temp/sessions
!temp/sessions/.gitkeep

