@import "front-colors";

$font-family: 'Poppins', 'Arial', sans-serif;
$font-size: 16px;
$font-weight: 400;
$font-color: $color-main;

/* Buttons */
$button-radius: 3px;

/* Alerts */
$alert-radius: 3px;
$alert-padding: 30px 18px;