@import "front-colors";

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;
$font-weight: 400;
$font-color: $color-main;

/* Buttons */
$button-radius: 3px;

/* Alerts */
$alert-radius: 3px;
$alert-padding: 30px 18px;