@import "front-colors";
@import "front-variables";
@import "front-mixins";

button {
  cursor: pointer;
}

.button {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  color: $color-button;
  background-color: $bg-button;
  padding: 10px 18px;
  font-weight: 500;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  overflow: visible;
  text-transform: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -ms-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-border-radius: $button-radius;
  -moz-border-radius: $button-radius;
  border-radius: $button-radius;
  white-space: nowrap;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

  &:hover {
    color: white;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    background-color: darken($bg-button, 15);
    text-decoration: none;
  }


  &--primary {
    color: $color-button--primary;
    background: $bg-button--primary;
    border-color: $bg-button--primary;

    &:hover {
      background-color: darken($bg-button--primary, 15);
      border-color: darken($bg-button--primary, 15);
    }
  }

  &--success {
    color: $color-button--primary;
    background: $bg-button--success;
    border-color: $bg-button--success;

    &:hover {
      background-color: darken($bg-button--success, 15);
      border-color: darken($bg-button--success, 15);
    }

  }

  &--secondary {
    color: $color-button--primary;
    background: $bg-button--secondary;
    border-color: $bg-button--secondary;

    &:hover {
      background-color: darken($bg-button--secondary, 15);
      border-color: darken($bg-button--secondary, 15);
    }
  }

  &--warning {
    color: $color-button--primary;
    background: $bg-button--warning;
    border-color: $bg-button--warning;

    &:hover {
      background-color: darken($bg-button--warning, 15);
      border-color: darken($bg-button--warning, 15);
    }
  }

  &--danger {
    color: $color-button--primary;
    background: $bg-button--danger;
    border-color: $bg-button--danger;

    &:hover {
      background-color: darken($bg-button--danger, 15);
      border-color: darken($bg-button--danger, 15);
    }
  }

  &--link {
    background-color: transparent;
    border:none;
    color: $color--primary;
    &:hover {
      color: darken($color--primary, 15);
      text-decoration: underline;
      background-color: transparent;
    }
    &:focus {
      border: none;
    }
  }

  &--clear {
    color: initial;
    background: $bg-button--clear;
    border-color: $bg-button--clear;

    &:hover {
      color: white;
      background-color: $bg-button--primary;
      border-color: $bg-button--primary;
    }
  }

  &--bordered {
    color: $bg-button--primary;
    background: $bg-button--bordered;
    border-color: $bg-button--primary;

    &:hover {
      color: white;
      background-color: $bg-button--primary;
      border-color: $bg-button--primary;
    }
  }

  &--lg {
    font-size: 1.25rem;
    padding: 16px 30px;
  }

  &--sm {
    font-size: 0.75rem;
    padding: 6px 14px;
  }
}

.button-toolbar {
  @include display-flex();
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button-group {
  position: relative;
  @include display-flex('inline-flex');
  vertical-align: middle;

  button {
    position: relative;
    flex: 1 1 auto;
  }
}

.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}