#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

parameters:
	lqd_ip: 77.240.177.28
	langs: [] #first is default language [cz,en]
	#baseDir:is defined in boostrap.php
	logDir: %wwwDir%/temp/log
	userDir: %wwwDir%/userfiles
	pubDir: %wwwDir%/public
	libsDir: %wwwDir%/vendor/lqdlib
	locale:
		cz: ['cs_CZ.UTF-8','cs']
		#sk: ['sk_SK.UTF-8','sk']
		#de: ['de_DE.UTF-8','de']
		#en: ['en_US.UTF-8','en']
		#ru: ['ru_RU.UTF-8','rus']
	currency: CZK
	currencyLocale: cs_CZ
	noindex:
		master: masterinter.net
		vashosting: vas-server.cz
		localhost: localhost
	users:
		#default user group
		group: 'everyone'
		#default user role
		role: 'guest'
		#Use email as login
		login: true
		#User activation manualy
		active: true

php:
	date.timezone: Europe/Prague
latte:
	macros:

session:
    savePath: "%tempDir%/sessions"
    autoStart: smart

mail:
	smtp: false

tracy:
	email: servis@lqd.cz
	fromEmail: info@lqd.cz
	netteMailer: true

application:
	errorPresenter: "Web:Error"
	catchExceptions: true
	mapping:                     
		*: ['App', *,  *Presenter]

routing:
		#'scripts[/<namespace>][/<script>]': 'Tools:Run:default'

forms:
	messages: 	
		REQUIRED : 'Tohle pole je povinné'
		EMAIL: 'Pole musí být platný e-mail'
		MIN_LENGTH: 'Pole musí mít alespoň %d znaků.'
		RANGE: 'Zadejte číslo od %d do %d.'

extensions:
	storm: \Storm\Nette\Extension
	storm2: \StORM\Bridges\StormDI
	modules: \Lqd\Modules\Extension
	pages: \Pages\Bridges\PagesDI

services:
	latte.latteFactory:
		setup:
			- Lqd\Common\Filters::register(@self,@container,[currencyDigits=0])
	#routing.router: Nette\Application\Routers\SimpleRouter
	#pages.source: Pages\DB\PageRepository
storm:
	default:
		host: localhost
		#dbname: default
		#user: default
		#password: "****"
		debug: true
		characterset: utf8
		collate: utf8_czech_ci
		langs: %langs%
		pk:
			name: uuid
			generator: Storm\Generator\Uuid
		migrator:
			structure:
				- Pages\DB\Page
				- Pages\DB\Redirect
				- Pages\DB\Sitemap
			data:
#				- /app/modules/Custom/data/test.sql
#				- /app/modules/Custom/data/test.json

includes:
	- ../../vendor/lqdvendor/userfiles/config.neon
	- ../../vendor/lqdvendor/admin/config.neon
	- ../../vendor/lqdvendor/email/config.neon
	- ../../vendor/lqdvendor/translator/config.neon
	- ../../vendor/lqdvendor/security/config-database.neon
	- ../../vendor/lqdvendor/web/config.neon
	- ../../vendor/lqdvendor/news/config.neon
	- ../../vendor/lqdvendor/blog/config.neon
	- ../../vendor/lqdvendor/catalog/config.neon
	- ../../vendor/lqdvendor/users/config.neon
	- pages.neon