# Custom Index sa vytvara cez DB
pages:
	defaultMutation: cz
	mutations: [cz, en]
	mapping:
		methods:
			'*': [one, [?, true]]
			'news': [one, [?, true]]
		throw404: false
	types:
		index:
			name: 'Index'
			plink: 'Web:Index:default'
			defaultMask: ''
		typo:
			name: 'Typografie'
			plink: 'Web:Index:typo'
			defaultMask: 'typografie'