<!DOCTYPE html>
<html lang="{$lang}">
{include '@head.latte'}
<body>

<!-- HEADER -->
{if $cover && !$cover->hidden}
    <header class="position-absolute w-100 {if $cover}{$cover->cssClass}{/if}" style="z-index: 999;">
        {control menu}
    </header>
    {include '@cover.latte'}

{else}
    <header id="menu" class="header-shadow">
        {control menu}
    </header>
{/if}

<!-- CONTENT -->
<main>
    {block content}
    {/block}
</main>

<!-- PRE FOOTER -->
<div class="footer-secondary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {$footer->text|shortcode|noescape}
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="pull-right small" style="margin: 10px 0px; ">&copy; Liquid Design s.r.o. | support
					<a href="mailto:servis@lqd.cz">servis@lqd.cz</a>
				</span>
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->
{include '@scripts.latte'}
</body>
</html>
