<html>
{include '../../@head.latte'}
<body>
{if $hasSlider}
<header class="position-absolute w-100" style="z-index: 999;">
    {control menu}
</header>

{control sliderControl}
{else}
    {if $cover && !$cover->hidden}
        <header class="position-absolute w-100 {if $cover}{$cover->cssClass}{/if}" style="z-index: 999;">
            {control menu}
        </header>
        {include '../../@cover.latte'}
    {else}
        <header id="menu" class="header-shadow">
            {control menu}
        </header>
    {/if}
{/if}

<div class="content-margin">
    <div class="container">
        <div class="row">
            <div class="{$article->getLayoutClass()}">

                {$article->text|noescape|shortcode}
            </div>

            <div n:if="$article->fk_side_panel && $article->allowSidePanel()" class="col-12 col-md-4">
                <div n:class="$article->sticky_sidepanel ? 'side-panel sticky-top'">
                    {$article->side_panel->text|shortcode|noescape}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light content-margin">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {var $testWidget = '[widget]textboxes=7k9z[/widget]'}
                {$testWidget|shortcode|noescape}
            </div>
        </div>
    </div>
</div>

<!-- PRE FOOTER -->
<div class="footer-secondary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {$footer->text|shortcode|noescape}
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="pull-right small" style="margin: 10px 0px; ">&copy; Liquid Design s.r.o. | support
					<a href="mailto:servis@lqd.cz">servis@lqd.cz</a>
				</span>
            </div>
        </div>
    </div>
</footer>

{include '../../@scripts.latte'}

</body>
</html>
