<html>
{include '../../@head.latte'}
<body>
<header id="menu">
    {control menu}
</header>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <h1>DEFAULTWEB 3 - nastaveni textu</h1>
            <hr>
            <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
            <hr>
            <h1>H1 - Nadpis</h1>
            <!-- PEREX -->
            <h4>P - class perex</h4>
            <p class="perex mt-0">
                Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren. Filozofií Linx je neustálé zlepšování, přesvědčení, že nejlepší může být děláno vždy ještě lepším.
            </p>
            <p>
                Vyberte si apartmány Mandre pro dovolenou na oblíbeném chorvatském ostrově Pag. Poklidné letovisko Mandre nabízí oblázkové pláže s pozvolným
                vstupem do moře,
                lodní výlety, možnost rybaření, šnorchlování a potápění. Apartmány Mandre si můžete rezervovat online.
            </p>

            <h2>H2 - LINX - potisk produku a priemyselné značenie</h2>
            <p>
                Vyberte si apartmány Mandre pro dovolenou na oblíbeném chorvatském ostrově Pag. Poklidné letovisko Mandre nabízí oblázkové pláže s pozvolným
                vstupem do moře,
                lodní výlety, možnost rybaření, šnorchlování a potápění. Apartmány Mandre si můžete rezervovat online.
            </p>
            <h3>H3 - LINX - potisk produku a priemyselné značenie</h3>
            <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
                elit consequat
                ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus
                a odio
            </p>

            <h4>H4 - LINX - potisk produku a priemyselné značenie</h4>
            <p>
                Vyberte si apartmány Mandre pro dovolenou na oblíbeném chorvatském ostrově Pag. Poklidné letovisko Mandre nabízí oblázkové pláže s pozvolným
                vstupem do moře,
                lodní výlety, možnost rybaření, šnorchlování a potápění. Apartmány Mandre si můžete rezervovat online.
            </p>

            <hr>
            <h3>ČÍSELNÍKY</h3>
            <h4>UL</h4>
            <!-- UL LIST -->
            <ul>
                <li>This is Photoshop's version of Lorem Ipsum</li>
                <li>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</li>
            </ul>

            <h4>UL - class check</h4>
            <ul class="check">
                <li>Polozka 1</li>
                <li>Polozka 2</li>
            </ul>
            <h4>OL</h4>
            <ol>
                <li>This is Photoshop's version of Lorem Ipsum</li>
                <li>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</li>
            </ol>
            <hr>

            <!-- BUTTONS -->
            <h3>TLAČÍTKA <small>(file: front-buttons.scss)</small></h3>
            <div class="d-flex flex-wrap align-items-start justify-content-start">
                <button class="button mr-2">.button</button>
                <button class="button button--primary mr-2 mb-2">button button--primary</button>
                <button class="button button--success mr-2 mb-2">button button--success</button>
                <button class="button button--secondary mr-2 mb-2">button button--secondary</button>
                <button class="button button--warning mr-2 mb-2">button button--warning</button>
                <button class="button button--danger mr-2 mb-2">button button--danger</button>
                <button class="button button--clear mr-2 mb-2">button button--clear</button>
                <button class="button button--bordered mr-2 mb-2">button button--bordered</button>
            </div>
            <hr>

            <!-- ALERTS -->
            <h3>HLÁŠKY</h3>
            <div class="alert">alert</div>
            <div class="alert alert--primary">alert alert--primary</div>
            <div class="alert alert--success">alert alert--success</div>
            <div class="alert alert--secondary">alert alert--secondary</div>
            <div class="alert alert--warning">alert alert--warning</div>
            <div class="alert alert--danger">alert alert--danger</div>

            <div class="alert alert--dismissible fade show">
                Dismissible alert
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr>


            <h3>Barevné bloky</h3>

            <h5>Modrý - color-block blue</h5>
            <div class="color-block blue">
                Vyberte si apartmány Mandre pro dovolenou na oblíbeném chorvatském ostrově Pag. Poklidné letovisko Mandre nabízí oblázkové pláže s pozvolným
                vstupem do moře,
                lodní výlety, možnost rybaření, šnorchlování a potápění. Apartmány Mandre si můžete rezervovat online.
            </div>

            <h5>Žlutý - color-block yellow</h5>
            <div class="color-block yellow">
                Vyberte si apartmány Mandre pro dovolenou na oblíbeném chorvatském ostrově Pag. Poklidné letovisko Mandre nabízí oblázkové pláže s pozvolným
                vstupem do moře,
                lodní výlety, možnost rybaření, šnorchlování a potápění. Apartmány Mandre si můžete rezervovat online.
            </div>

            <h5>Šedý - color-block grey</h5>
            <div class="color-block grey">
                Vyberte si apartmány Mandre pro dovolenou na oblíbeném chorvatském ostrově Pag. Poklidné letovisko Mandre nabízí oblázkové pláže s pozvolným
                vstupem do moře,
                lodní výlety, možnost rybaření, šnorchlování a potápění. Apartmány Mandre si můžete rezervovat online.
            </div>

            <hr>

            <h3>Breadcrumb</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Item</a></li>
                <li class="breadcrumb-item"><a href="#">Item2</a></li>
                <li class="breadcrumb-item">Item3</li>
            </ol>

            <hr>

            <h3>Tiny templaty</h3>

            <div class="text-content">
                <h5>2 responzivní sloupce</h5>
                <div class='row tiny-component'><span class='mceNonEditable'></span> <div class='col-12 col-md-6'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-6 cl-6'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> </div> <br>

                <h5>3 responzivní sloupce</h5>
                <div class='row tiny-component'><span class='mceNonEditable'></span> <div class='col-12 col-md-4'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-4'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-4'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> </div> <br>

                <h5>4 responzivní sloupce</h5>
                <div class='row tiny-component'><span class='mceNonEditable'></span> <div class='col-12 col-md-3'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-3'> <span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-3'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-3'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> </div> <br>

                <h5>5 responzivních sloupců</h5>
                <div class="row tiny-component"><span class='mceNonEditable'></span><div class="col-12 col-md"><span class='mceNonEditable'></span><p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.</p></div><div class="col-12 col-md"><span class='mceNonEditable'></span><p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.</p></div><div class="col-12 col-md"><span class='mceNonEditable'></span><p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.</p></div><div class="col-12 col-md"><span class='mceNonEditable'></span><p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.</p></div><div class="col-12 col-md"><span class='mceNonEditable'></span><p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.</p></div></div><br>

                <h5>6 responzivních sloupců</h5>
                <div class='row tiny-component'>
                    <span class='mceNonEditable'></span>
                    <div class='col-12 col-md-4 col-lg-2'>
                        <span class='mceNonEditable'></span>
                        <p>   Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.h
                tiskáren</p>
                    </div>
                    <div class='col-12 col-md-4 col-lg-2'>
                        <span class='mceNonEditable'></span>
                        <p>   Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.h
                tiskáren</p>
                    </div>
                    <div class='col-12 col-md-4 col-lg-2'>
                        <span class='mceNonEditable'></span>
                        <p>   Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.h
                tiskáren</p>
                    </div>
                    <div class='col-12 col-md-4 col-lg-2'>
                        <span class='mceNonEditable'></span>
                        <p>   Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.h
                tiskáren</p>
                    </div>
                    <div class='col-12 col-md-4 col-lg-2'>
                        <span class='mceNonEditable'></span>
                        <p>   Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.h
                tiskáren</p>
                    </div>
                    <div class='col-12 col-md-4 col-lg-2'>
                        <span class='mceNonEditable'></span>
                        <p>   Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren.h
                tiskáren</p>
                    </div>
                </div>
                <br>

                <h5>4:8 obsah a postranní panel</h5>
                <div class='row tiny-component'>
                    <span class='mceNonEditable'></span>
                    <div class='col-12 col-md-4'>
                        <span class='mceNonEditable'></span>
                        <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p>
                    </div>
                    <div class='col-12 col-md-8'>
                        <span class='mceNonEditable'></span>
                        <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p>
                    </div>
                </div>
                <br>

                <h5>8:4 obsah a postranní panel</h5>
                <div class='row tiny-component'><span class='mceNonEditable'></span><div class='col-12 col-md-8'><span class='mceNonEditable'></span><p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p></div><div class='col-12 col-md-4'><span class='mceNonEditable'></span><p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p></div></div> <br>

                <h5>Rozšířený obsah (extended)</h5>
                <div class='text-block block-extended tiny-component'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <br>

                <h5>Rozšířený obsah (wide) + 3 sloupce responzivní</h5>
                <div class='text-block block-wide tiny-component'><span class='mceNonEditable'></span> <div class='row'> <div class='col-12 col-md-4'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-4'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> <div class='col-12 col-md-4'><span class='mceNonEditable'></span> <p>  Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových
                tiskáren</p> </div> </div> </div> <br>

                <h5>Rozšířený obsah (wide)</h5>
                <div class='text-block block-wide tiny-component'><span class='mceNonEditable'></span> <p>Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových tiskáren. Linx je mezinárodně uznávaný dodavatel v oblasti průmyslových ink-jet tiskáren, laserových kódovacích zařízení a termotransferových tiskáren</p> </div> <br>
            </div>

            <h3>Forms <small>(imported from Bootstrap 4 - front-forms.scss)</small></h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="button button--primary">Submit</button>
            </form>
            <hr>

            <h3>Table - class .lines</h3>

            <div class="alert alert--info">
                Table obaluj do divu s classou <strong>table-responsive</strong> <br>
            </div>

            <h5>Table without class</h5>
            <div class="table-responsive">
                <table>
                    <tbody>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h5>Table.lines</h5>
            <div class="table-responsive">
                <table class="lines">
                    <tbody>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>Modal <small>(imported from Bootstrap 4 - front-modal.scss)</small></h3>
            <!-- Button trigger modal -->
            <button type="button" class="button button--primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button button--secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="button button--primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                Vytvořilo webové studio <a href="https://www.lqd.cz/tvorba-www-stranek-webdesign">Liquid Design</a>
            </div>
        </div>
    </div>
</footer>

{include '../../@scripts.latte'}
</body>
</html>
